.footer-home {
    background: $lightBlack;
    color:$white;

   @extend %flex-column;
    justify-content: space-around;
    gap: 4vw;
    padding: 22px 25px 22px 25px;

    font-size: $size-normal;
    font-weight:  $fontMedium;
     
    .logo img{
        width: 137.58px;
        height: 27px;
        padding-top: 3vw;
        filter: invert(100%);
    }
    .link {
        @extend %flex-column;
        gap: 2vw;
    }
    .illustration {
        display: flex;
        gap: 2vw;
    }
}

.footer {
    @extend .footer-home;
  width: 100%;
}

