//Footer (Homepage)
.footer-home {
    @include typography($white, $size-normal, $fontMedium);
    @extend %flex-column;
    justify-content: space-around;
    background: $lightBlack;

    margin-top: auto; // Pousse le footer en bas de la page

    padding: 22px 25px 22px 25px;
    gap: 12px;

    @include breakpoints(table) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: baseline;
        padding: 52px 0px 25px 0px;
        gap: 25px;
    }
    @include breakpoints(desktop){
        gap: 60px;
    }

    .logo img {
        object-fit: contain;
        max-width: 105px;
        height: 18px;
        padding-top: 12px;
        filter: invert(100%);

        @include breakpoints(table) {
            position: relative;
            top: 4px;
        }

        @include breakpoints(desktop){
            right: 30px;
        }
    }

    .link {
        @extend %flex-column;
        gap: 7px;

        @include breakpoints(table) {
            flex-direction: row;
            justify-content: flex-end;
            width:81%;
            gap: 25px;
        }

        @include breakpoints(desktop){
            width: 100%;
        }
    }

    .illustration {
        display: flex;
        gap: 3px;

        i {
            height: 20px;
            width: 22px;
            object-fit: contain
        }
    }
}

//Footer (Restaurants menu)
footer {
    @extend .footer-home;
}