//Footer (Homepage)
.footer-home {
    @include typography($white, $size-normal, $fontMedium);
    @extend %flex-column;
    justify-content: space-around;
    background: $lightBlack;

    padding: 22px 25px 22px 25px;
    gap: 3vw;

    @include breakpoints(table){
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: baseline;
        padding: 30px 25px 30px 0px;
    }

    .logo img{
        object-fit: contain;
        max-width: 105px;
        height: 18px;
        padding-top: 3vw;
        filter: invert(100%);

        @include breakpoints(table){
            position: relative;
            top: 0.4vw;
        }
    }

    .link {
        @extend %flex-column;
        gap: 2vw;

        @include breakpoints(table) {
            flex-direction: row;
            justify-content: flex-end;
            width: 94%;
        }
    }

    .illustration {
        display: flex;
        gap: 3px;

        i {
            height: 20px;
            width: 22px;
            object-fit: contain
        }
    }
}

//Footer (Restaurants menu)
footer {
    @extend .footer-home;
}