//Header (restaurants menu)
header {
    @extend %flex-column;
    background-color: $white;

    .logo {
        width: 162px;
        height: 44px;
        object-fit: contain;
        padding: 12px 0px 4px 0px;

        @include breakpoints(table) {
            width: 200px;
            height: 34.2px;
            padding: 21px 0px 17px 0px;
        }
    }

    .header-menus {
        @extend %flex-center;
        position: relative;
    }

    .fa-arrow-left {
        position: absolute;
        top: 22px;
        left: 14px;
        z-index: 1;

        @include breakpoints(table) {
            top: 27px;
        }
    }
}

//Header (Homepage)
.header-home {
    @extend header, %flex-center;
}