.header {
    // width: 100%;
    @extend %flex-column, %flex-center;
    // text-align: center;
    .logo-header {
        margin: 0px;
        gap: 22vw;
        background-color: $white;
        // aspect-ratio: 1/0.1;
        }
    .fa-arrow-left {
        padding: 5vw 4vw;
        }
    .logo {
        height:36px ;
        width: 197px;
        // color: #101010;
        // color: $primary-purple;
        // filter: opacity(0.4) drop-shadow(0 0 0 #de1313)
        // opacity: 1;
        // font-family: $fontTitle;
        // font-weight: $fontRegular;
        // font-size: 30px;
        // font-style: italic;
        // object-fit: contain;
        }
}
// .header {
//     display: flex;
//    flex-direction: column;
//     .logo-header {
//      align-items: center;
//      text-align: center;
//      gap: 12vw;
//      padding-bottom: 3vw;
//      background: $white;
//     }
//     .fa-arrow-left {
//      width: 30px;
//      height: 30px;
//      padding: 17px 0 0 17px;
//      color: $lightBlack;
//     }
//     .logo {
//      width:162px;
//      height: 44px;
//      padding-top: 14px;
//      padding: 14px 0 0 49px;
//      object-fit: contain;
//     } 
//  }
 
