.loader {
  z-index: 100;
  position: fixed;

  width: 100vw;
  height: 100vh;

  animation: loader 1s forwards;

  &_container {
    position: relative;
    @extend %flex-center;
    background: $gradient-color;
    height: 100%;
    width: 100%;
    margin: 0px;

    &_logo {
     @extend %flex-center;
      position: relative;
      width: 200px;
      height: 40px;
      background-image: url("../../assets/images/logo/ohmyfood.png");
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(100%);

      &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 280px;
        border: 16px solid $black;
        border-top: 16px solid transparent;
        border-radius: 50%;
        animation: spinner 3s linear infinite;
      }
    }
  }
}



