// .loader-container {
//     width: 100%;
//     height: 100%;
//     margin: 0px;

//     box-sizing: border-box;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: linear-gradient(#3498db,#95cce1)
// }

// .loader {
//     border: 20px solid $lightGrey;
//     border-top: 20px solid $tertiary-green;

//     border-radius: 50%;
//     width: 120px;
//     height: 120px;

//     animation: spin 2s linear infinite;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .loader_container_logo {
//     filter: invert(100%);
// }

.loader {
  z-index: 100;
  position: fixed;

  // width: 100%;
  // height: 100%;

  width: 100vw;
  height: 100vh;

  animation: loader 1s forwards;

  &__container {
    position: relative;
    @extend %flex-center;
    background: $gradient-color;
    height: 100%;
    width: 100%;
    margin: 0px;

    &__logo {
     @extend %flex-center;
      position: relative;
      width: 200px;
      height: 40px;
      background-image: url("../../assets/images/logo/ohmyfood.png");
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(100%);

      &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 280px;
        border: 16px solid $black;
        border-radius: 50%;
        border-top: 16px solid transparent;
        animation: spinner 3s linear infinite;
      }

      // @keyframes spinner {
    
      //   0% { transform: rotate(0deg); }
      //   100% { transform: rotate(360deg); }
      // }


      // &::before {
      //   content: "";
      //   position: absolute;

      //   width: 280px;
      //   height: 280px;

      //   aspect-ratio: 1;
      //   border-radius: 50%;
      //   padding: 6px;
      //   background:
      //     conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
      //     radial-gradient(farthest-side at bottom left, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) top right/50% 50% content-box content-box,
      //     radial-gradient(farthest-side at top, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) bottom /100% 50% content-box content-box;
      //   background-repeat: no-repeat;
      //   animation: s3 5s infinite linear;


      //   @keyframes s3 {
      //     100% {
      //       transform: rotate(1turn)
      //     }
      //   }
      // }
    }
  }
}

// spinner-4 {
//   width: 50px;
//   --b: 8px; /* the border thickness */
//   aspect-ratio: 1;
//   border-radius: 50%;
//   padding: 1px;
//   background: conic-gradient(#0000 10%,#f03355) content-box;
//   -webkit-mask:
//     repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
//     radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
//   -webkit-mask-composite: destination-in;
//   mask-composite: intersect;
//   animation:s4 1s infinite steps(10);
// }
// @keyframes s4 {to{transform: rotate(1turn)}}