.loader {
  z-index: 100;
  position: fixed;

  width: 100vw;
  height: 100vh;

  animation: loader 1s forwards;

  &__container {
    position: relative;
    @extend %flex-center;
    background: $gradient-color;
    height: 100%;
    width: 100%;
    margin: 0px;

    &__logo {
     @extend %flex-center;
      position: relative;
      width: 200px;
      height: 40px;
      background-image: url("../../assets/images/logo/ohmyfood.png");
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(100%);

      &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 280px;
        border: 16px solid $black;
        border-radius: 50%;
        border-top: 16px solid transparent;
        animation: spinner 3s linear infinite;
      }
    }
  }
}
// .loader-container>.loader
// .loader-container {
//   border-radius: 5px;
//   background: #3333;
//   width: 400px;
//   height: 400px;
//   margin: 100px auto 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .loader {
//   display: block;
//   position: relative;
//   width: 250px;
//   height: 250px;
//   border-radius: 50%;
//   border: 7px solid transparent;
//   border-top-color: crimson;
//   animation: spin 2s linear infinite;
// }

// .loader::before,
// .loder::after {
//   content: '';
//   position: absolute;
//   border-radius: 50%;
//   border: 7px solid transparent;
// }

// .loader::before {
//   top: 10px;
//   left: 10px;
//   right: 10px;
//   bottom: 10px;
//   border-top-color: rgb(252,45,86);
//   animation: spin 3s linear infinite;
// }
// .loader::after {
//   top: 25px;
//   left: 25px;
//   right: 25px;
//   bottom: 25px;
//   border-top-color: rgb(192,108,125);
//   animation: spin 1.5s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100%{
//     transform: rotate(360deg);
//   }
// }



