// Button 'Découvrez nos restaurants' and 'Commander'
.button {
    @extend %flex-center;
    @include typography($white, $size-normal, $fontMedium);
    @include shadow (0px, 4px, 10px, 0.25);

    text-align: center;
    border-radius: 25px;
    background: $gradient-color;
   
    padding: 0.25%;
    height: 50px;
    width: $buttonSize;

    &:hover {
        @include shadow(0px, 4px, 10px, 0.45);
        opacity: 0.68;
    }
}

//Button 'Découvrez nos restaurants'
.btn-home {
    @extend .button;
    width: $buttonSize + 60px;
}