// Card/Menu "restaurants" sur Homepage
.resto-cards {
    @extend %flex-column;
    gap: 7vw;
    align-items: center;
    box-sizing: border-box;

    @include breakpoints(table) {
        flex-flow: wrap;
        padding-left: 5vw;
        padding-right: 3vw;
        padding-bottom: 5vw;
    }

    a {
        width: 87%;

        @include breakpoints(table) {
            width: 45%;
        }
    }
}

.card {
    width: 100%;
    // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    @include shadow($blur: 15px, $percent: 0.1);
    background: $white;
    border-radius: 15px;

    .card-view {
        position: relative;
    }

    img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 231px;
        object-fit: cover;
    }
}

.card-content {
    display: flex;
    justify-content: space-between;
    // gap: 18vw;
    // gap: 22%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    width: 92%;

    @include breakpoints(table) {
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 86%;
    }
}

.card-txt {
    .card-title {
        @include typography($font-size: $size-x-mediumSize, $font-weight: $fontBold);
        // font-size: $size-x-mediumSize;
        // font-weight: $fontBold;
        margin-bottom: 0;
    }

    .card-subtitle {
        @include typography($font-size: $size-mediumSize, $font-weight: $fontLight);
        // font-size: $size-xx-mediumSize;
        // font-weight: $fontLight;
        margin-top: 1vw;
    }
}

// Badge "nouveau"
.card-view span {
    border-radius: 2px;
    width: 80px;
    height: 29px;
    @include shadow($vertical: 2px, $blur: 4px, $percent: 0.15);
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    background: $tertiary-green;
    // position: absolute;
    // right: 15px;
    // top: 12px; 
    // color: $green-font;
    // font-size: $size-x-small;
    // font-weight: $fontMedium;
    @include typography($green-font, $size-x-small, $fontMedium);
    @include absolute-element($right: 15px, $top: 12px);

    @extend %flex-center;

}

//Cards menu restaurants
.card-menu article {
    display: flex;
    justify-content: space-between;
    // position: relative;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;

    animation: animationFade 0.3s backwards;

    width: 85%;
    height: 69px;
    padding-left: 4vw;
    // padding-right: 4vw;

    background: $white;
    @include shadow($blur: 15px, $percent: 0.1);
    // filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    border-radius: 15px;

    span.price-menu {
        display: flex;
        align-items: flex-end;
        @include typography($lightBlack, $size-small, $fontBold);
        // font-weight: $fontBold;
        // font-size: $size-small;
        // color: $lightBlack;
        gap: 2vw;

    }
}


.content-menu {
    width: 61%;

    @include breakpoints(desktop) {
        width: 81%;
        padding: 1vw;
    }

    .title-menu {
        padding: 3vw 0 3vw 0;
        @include typography($font-size: $size-x-mediumSize, $font-weight: $fontMedium);
        // font-weight: $fontMedium;
        // font-size: $size-x-mediumSize;
        // color: $black;
        margin: 0px;
        @extend %txt-overflow;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;

        @include breakpoints(table) {
            padding: 0vw;
        }
    }

    .txt-menu {
        @include typography($font-size: $size-small, $font-weight: $fontLight);
        // font-weight: $fontLight;
        // font-size: $size-small;
        // color: $black;
        margin: 0px;
        @extend %txt-overflow;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}

.price-menu {
    &::after {
        content: "\f058";
        font-family: 'Font Awesome 6 Free';
        font-weight: 600;
        font-size: 20px;
        color: rgba(#fff, 0);
        // position: relative;
        @extend %flex-center;
        overflow: hidden;
        // right: -15px;
        // top: -13.5px;
        height: 100%;
        // height: 5vh;
        width: 0px;

        background: #99E2D0;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        // transition: 800ms ease infinite alternate slidein;

        // animation: 800ms ease infinite alternate slidein;
        // transition: width 600ms ease, border-bottom-right-radius 100ms ease, color 500ms;
    }

    &:hover::after {
        width: 59px;
        color: rgba(#fff, 1);
    }
}