//Cards instructions (fonctionnement - Homepage)
.step-group {
    @extend %flex-column;
    align-items: center;
    padding-bottom: 8vw;
    gap: 6vw;

    @include breakpoints(table) {
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
        padding-bottom: 5vw;
    }

    .step {
        @include shadow(0px, 4px, 15px, 0.15);
        background: $lightGrey;
        position: relative;

        display: flex;
        border-radius: 20px;

        width: 83%;
        min-width: 213px;
        max-width: 335px;
        height: 72.38px;

        @include breakpoints(table) {
            justify-content: center;
            width: 30%;
        }
    }

    .number {
        @extend %flex-center;
        background: $primary-purple;
        color: $white;

        position: absolute;
        top: 23px;
        left: -12px;

        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .indications {
        display: flex;
        align-items: center;
        gap: 3vw;

        position: relative;
        left: 7vw;

        @include breakpoints(table) {
            padding-left: 0vw;
            gap: 1.5vw;
            left: 0vw;
        }
    }

    i.icon {
        color: $icon ;
    }

    i.fa-store {
        color: $primary-purple;
    }
}


// Card "restaurants" (Homepage)
.resto-cards {
    @extend %flex-column;
    box-sizing: border-box;
    align-items: center;
    gap: 7vw;

    @include breakpoints(table) {
        flex-flow: wrap;
        padding-left: 5vw;
        padding-right: 3vw;
        padding-bottom: 5vw;
        gap: 4vw;
    }

    a {
        width: 87%;

        @include breakpoints(table) {
            width: 45%;
        }
    }
}

.card {
    @include shadow(0px, 4px, 15px, 0.1);
    background: $white;
    border-radius: 15px;
    width: 100%;

    .card-view {
        position: relative;
    }

    img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        width: 100%;
        height: 231px;
    }
}

.card-content {
    display: flex;
    justify-content: space-between;

    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    width: 92%;

    @include breakpoints(table) {
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 86%;
    }
}

.card-txt {
    .card-title {
        @include typography($black, $size-x-mediumSize, $fontBold);
        margin-bottom: 0;
    }

    .card-subtitle {
        @include typography($black, $size-mediumSize, $fontLight);
        margin-top: 1vw;

        @include breakpoints(table) {
            margin-top: 0;
        }
    }
}

// Badge "nouveau" (Homepage)
.card-view span {
    @extend %flex-center;
    @include typography($green-font, $size-x-small, $fontMedium);
    @include shadow(0px, 2px, 4px, 0.15);
    background: $tertiary-green;
    border-radius: 2px;

    position: absolute;
    top: 12px;
    right: 15px;

    width: 80px;
    height: 29px;
}

//Cards menu restaurants (Restaurants menu)
.card-menu article {
    position: relative;
    @include shadow(0px, 4px, 15px, 0.1);
    background: $white;
    width: 85%;
    border-radius: 15px;
    height: 69px;

    animation: animationFade 0.3s backwards;

    &:hover {
        cursor: pointer;
    }
}

.content-price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 0.7vw;
    padding-left: 1vw;
    gap: 10vw;

    .price-menu {
        @include typography($lightBlack, $size-small, $fontBold);
        position: absolute;
        right: 2vw;
    }
}

.content-menu {
    @extend %flex-column;
    @extend %txt-overflow;
    align-items: flex-start;
    width: calc(100% - 20%);
    height: auto;
    padding-top: 0.8vh;
    padding-left: 1vw;
    gap: 0.4vw;
    transition: width 0.5s ease;

    h3 {
        @include typography($black, $size-x-mediumSize, $fontMedium);
        align-self: flex-start;
    }

    p {
        @include typography($black, $size-small, $fontLight);
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: $tertiary-green;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        width: 18%;

        @include breakpoints(table) {
            width: 10%;
        }
    }
}

article:hover .overlay {
    width: 18%;

    @include breakpoints(table) {
        width: 10%;
    }

}

article:hover .content-menu h3 {
    width: calc(100% - 20%);
    @extend %txt-overflow;
}

article:hover .price-menu {
    right: 15%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;

    @include breakpoints(table) {
        right: 10%;
    }
}

.overlay_icon i {
    filter: invert(100%);
}