// Loader//

//circle around logo
@keyframes spinner {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
//move to next page
@keyframes loader{
    from{
    }
    to{
        visibility: hidden;
        display: none;
    }
}

//Cards restaurants//

//animation depart cards menu restaurants & price
@keyframes animationFade{
    0%{
        opacity: 0;
        transform: translateX(100%);
    };

    50%{
        opacity: 1;
        transform: translateX(-5%);
    }

    100%{
        transform: translateX(0);
        transform: translateY(1%);
    }
}

