// Typography rules 

*{
   //  font-family: $fontText;
 }

 body {
   //  display: flex;
   //  align-items: center;
   //  justify-content: center;
   font-family: $fontText;
    margin: 0px;
 }

 .main-container {
    width: 100%;
    min-width: 320px;
   //  padding: 0 3.472vw;
   //  padding-top: 0;
   //  padding-right: 3.472vw;
    box-sizing: border-box;
    background:$lightGrey;
 } 

 a {
    color: inherit;
    text-decoration: none;
    list-style: none; 
 }

 span, a {
  display: block;
 }

 .section-title {
   margin: 0px;
   font-size:$size-large;
   font-weight: $fontBold;
   color: $black;
   padding: 3vw;
 }

 .text {
   font-size: $fontMedium;
   font-size: $size-normal;
 }

 .hero,
 .indications,
 .restaurants,
 .restaurant-presentation {
  background: $lightGrey;
 }

 
