.header-home, a.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-menu, article, .restaurant-presentation .restaurants, .footer-home .link, .footer .link, .footer-home, .footer, .header, .header-home, .resto-cards {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.main-container {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

span,
a {
  display: block;
}

.section-title {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding: 3vw;
}

.text {
  font-size: 500;
  font-size: 16px;
}

.hero,
.indications,
.restaurants,
.restaurant-presentation {
  background: #F6F6F6;
}

a.button {
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 0.25%;
  height: 50px;
  width: 70%;
  text-align: center;
}
a.button:hover {
  opacity: 0.68;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.resto-cards {
  gap: 6vw;
  align-items: center;
  box-sizing: border-box;
}
.resto-cards a {
  width: 90%;
}

.card {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 15px;
}
.card .card-view {
  position: relative;
}
.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 231px;
  object-fit: cover;
}

.card-view span {
  border-radius: 2px;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  position: absolute;
  right: 15px;
  top: 12px;
}

.card-content {
  display: flex;
  justify-content: space-around;
  gap: 15vw;
}

.card-txt .card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.card-txt .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  margin-top: 1vw;
}

.like {
  display: flex;
  align-items: center;
  width: 22px;
  height: 21px;
  padding-top: 3vw;
}

.header, .header-home {
  margin: 0px;
  background-color: #FFFFFF;
}
.header .logo-header, .header-home .logo-header {
  display: flex;
}
.header .fa-arrow-left, .header-home .fa-arrow-left {
  padding: 5vw 4vw;
}
.header .logo, .header-home .logo {
  width: 50.625vw;
  padding-top: 3vw;
  padding-bottom: 2vw;
  object-fit: contain;
}

.footer-home, .footer {
  background: #353535;
  color: #FFFFFF;
  justify-content: space-around;
  gap: 4vw;
  padding: 22px 25px 22px 25px;
  font-size: 16px;
  font-weight: 500;
}
.footer-home .logo img, .footer .logo img {
  width: 137.58px;
  object-fit: contain;
  padding-top: 3vw;
  filter: invert(100%);
}
.footer-home .link, .footer .link {
  gap: 2vw;
}
.footer-home .illustration, .footer .illustration {
  display: flex;
  gap: 2vw;
}

.footer {
  width: 100%;
}

.header .banner, .header-home .banner {
  position: relative;
}
.header .banner img, .header-home .banner img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}
.header .banner .restaurant-name, .header-home .banner .restaurant-name {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #F6F6F6;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  left: 0;
}
.header .banner .restaurant-name h1, .header-home .banner .restaurant-name h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
}

.restaurant-presentation {
  margin-top: -5.063vw;
}
.restaurant-presentation .restaurants {
  padding-top: 3vw;
  padding-left: 3vw;
  box-sizing: border-box;
  gap: 2vw;
}

.restaurant-menu .type-menu {
  font-weight: 300;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 13%;
}

article {
  gap: 4vw;
  padding-top: 3vw;
}

.content-menu {
  border: 3px solid black;
  border-radius: 20px;
  width: 96%;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  background: #FFFFFF;
}
.content-menu .title-menu {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.content-menu .txt-menu {
  font-weight: 300;
  font-size: 15px;
  color: #000;
}
.content-menu .price-menu {
  font-family: 700;
  font-size: 15px;
  color: #353535;
}