.btn-cmd, .restaurant-menu .card-menu, .restaurant-name, .loader__container__logo, .loader__container, .header-home, .price-menu::after, .card-view span, .button, .btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-menu .card-menu, .restaurant-menu, .footer-home .link, footer .link, .footer-home, footer, header, .header-home, .resto-cards {
  display: flex;
  flex-direction: column;
}

.content-menu .txt-menu, .content-menu .title-menu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.section-title {
  margin: 0px;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
}

.text {
  color: none;
  font-size: 1em;
  font-weight: 500;
}

.hero,
.indications,
.restaurants,
.restaurant-presentation,
.restaurant-name {
  background: #F6F6F6;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    visibility: hidden;
    display: none;
  }
}
@keyframes animationFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(1%);
  }
}
.button, .btn-home {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFFFF;
  font-size: 500;
  font-weight: 400;
  padding: 0.25%;
  height: 50px;
  width: 173px;
}
.button:hover, .btn-home:hover {
  opacity: 0.68;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.btn-home {
  width: 233px;
}

.resto-cards {
  gap: 7vw;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .resto-cards {
    flex-flow: wrap;
    padding-left: 5vw;
    padding-right: 3vw;
    padding-bottom: 5vw;
  }
}
.resto-cards a {
  width: 87%;
}
@media only screen and (min-width: 768px) {
  .resto-cards a {
    width: 45%;
  }
}

.card {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 15px;
}
.card .card-view {
  position: relative;
}
.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 231px;
  object-fit: cover;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  width: 92%;
}
@media only screen and (min-width: 768px) {
  .card-content {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 86%;
  }
}

.card-txt .card-title {
  color: #000;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0;
}
.card-txt .card-subtitle {
  color: #000;
  font-size: 1.0625em;
  font-weight: 300;
  margin-top: 1vw;
}

.card-view span {
  border-radius: 2px;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #99E2D0;
  color: #008766;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 15px;
  bottom: none;
  left: none;
  transform: translate(none, none);
}

.card-menu article {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  animation: animationFade 0.3s backwards;
  width: 85%;
  height: 69px;
  padding-left: 4vw;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card-menu article span.price-menu {
  display: flex;
  align-items: flex-end;
  color: #353535;
  font-size: 0.9375em;
  font-weight: 700;
  gap: 2vw;
}

.content-menu {
  width: 61%;
}
@media only screen and (min-width: 1024px) {
  .content-menu {
    width: 81%;
    padding: 1vw;
  }
}
.content-menu .title-menu {
  padding: 3vw 0 3vw 0;
  color: #000;
  font-size: 1.125em;
  font-weight: 500;
  margin: 0px;
}
@media only screen and (min-width: 768px) {
  .content-menu .title-menu {
    padding: 0vw;
  }
}
.content-menu .txt-menu {
  color: #000;
  font-size: 0.9375em;
  font-weight: 300;
  margin: 0px;
}

.price-menu::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
  height: 100%;
  width: 0px;
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.price-menu:hover::after {
  width: 59px;
  color: white;
}

.like {
  stroke: none;
  stroke-width: 1px;
  position: relative;
  cursor: pointer;
}
.like path {
  fill-opacity: 1;
  transition: fill-opacity 400ms ease;
}
.like:hover {
  stroke: #000;
}
.like:hover path {
  fill-opacity: 0;
}
.like--inactive {
  stroke: #000;
  stroke-width: 1px;
  position: relative;
  cursor: pointer;
}
.like--inactive path {
  fill-opacity: 0;
  transition: fill-opacity 400ms ease;
}
.like--inactive :hover {
  stroke-width: 0px;
  fill-opacity: 1;
}

header, .header-home {
  margin: 0px;
  background-color: #FFFFFF;
  padding-top: 1vw;
  aspect-ratio: 1/0.02;
}
header .logo-header, .header-home .logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .fa-arrow-left, .header-home .fa-arrow-left {
  position: absolute;
  left: 5vw;
  z-index: 1;
  top: 1.1vh;
}

.logo {
  width: 162px;
  height: 44px;
  object-fit: contain;
}
.footer-home, footer {
  background: #353535;
  color: #FFFFFF;
  justify-content: space-around;
  gap: 4vw;
  padding: 22px 25px 22px 25px;
}
@media only screen and (min-width: 768px) {
  .footer-home, footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    box-sizing: border-box;
  }
}
.footer-home .logo img, footer .logo img {
  width: 137.58px;
  height: 27px;
  object-fit: contain;
  padding-top: 3vw;
  filter: invert(100%);
}
@media only screen and (min-width: 768px) {
  .footer-home .logo img, footer .logo img {
    padding-top: 0vw;
  }
}
.footer-home .link, footer .link {
  gap: 2vw;
}
@media only screen and (min-width: 768px) {
  .footer-home .link, footer .link {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer-home .illustration, footer .illustration {
  display: flex;
  gap: 3px;
}
.footer-home .illustration i, footer .illustration i {
  height: 20px;
  width: 22px;
  object-fit: contain;
}

footer {
  width: 100%;
}

.loader {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation: loader 1s forwards;
}
.loader__container {
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  margin: 0px;
}
.loader__container__logo {
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url("../../assets/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
}
.loader__container__logo::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border: 16px solid #000;
  border-radius: 50%;
  border-top: 16px solid transparent;
  animation: spinner 3s linear infinite;
}

header .banner, .header-home .banner {
  position: relative;
}
header .banner img, .header-home .banner img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
  }
}

.restaurant-presentation {
  padding-bottom: 5vw;
}
@media only screen and (min-width: 1024px) {
  .restaurant-presentation {
    max-width: 1000px;
    width: 100%;
  }
}

.restaurant-name {
  position: relative;
  top: -6vw;
  padding-top: 4vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  gap: 3vw;
}
@media only screen and (min-width: 1024px) {
  .restaurant-name {
    max-width: 1024px;
  }
}
.restaurant-name h1 {
  color: #101010;
  font-size: 1.75em;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
}

.restaurant-menu {
  padding-bottom: 4vw;
}
.restaurant-menu:nth-child(2) h2 {
  animation-delay: 1.3s;
}
.restaurant-menu:nth-child(2) .card-menu > :nth-child(1) {
  animation-delay: 1.4s;
}
.restaurant-menu:nth-child(2) .card-menu > :nth-child(2) {
  animation-delay: 1.5s;
}
.restaurant-menu:nth-child(2) .card-menu > :nth-child(3) {
  animation-delay: 1.6s;
}
.restaurant-menu:nth-child(2) .card-menu > :nth-child(4) {
  animation-delay: 1.7s;
}
.restaurant-menu:nth-child(3) h2 {
  animation-delay: 1.8s;
}
.restaurant-menu:nth-child(3) .card-menu > :nth-child(1) {
  animation-delay: 1.9s;
}
.restaurant-menu:nth-child(3) .card-menu > :nth-child(2) {
  animation-delay: 2s;
}
.restaurant-menu:nth-child(3) .card-menu > :nth-child(3) {
  animation-delay: 2.1s;
}
.restaurant-menu:nth-child(3) .card-menu > :nth-child(4) {
  animation-delay: 2.2s;
}
.restaurant-menu:nth-child(4) h2 {
  animation-delay: 2.3s;
}
.restaurant-menu:nth-child(4) .card-menu > :nth-child(1) {
  animation-delay: 2.4s;
}
.restaurant-menu:nth-child(4) .card-menu > :nth-child(2) {
  animation-delay: 2.5s;
}
.restaurant-menu:nth-child(4) .card-menu > :nth-child(3) {
  animation-delay: 2.6s;
}
.restaurant-menu:nth-child(4) .card-menu > :nth-child(4) {
  animation-delay: 2.7s;
}
.restaurant-menu .type-menu {
  color: #000;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  width: 23px;
  margin-left: 3vw;
  margin-bottom: 3vw;
  position: relative;
  height: 27px;
  animation: animationFade 0.3s backwards;
}
.restaurant-menu .type-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.restaurant-menu .card-menu {
  gap: 3vw;
}