.location, .loader_container_logo, .loader_container, .header-home, header .header-menus, .header-home .header-menus, .card-menu article .price-menu::after, .card-view span, .step-group .number, .button, .btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement,
.restaurants, .hero, .footer-home .link, footer .link, .footer-home, footer, header, .header-home, .resto-cards, .step-group {
  display: flex;
  flex-direction: column;
}

.content-menu p, .content-menu h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.section-title {
  margin: 0px;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
}

.text {
  color: #000;
  font-size: 1em;
  font-weight: 500;
}

.hero,
.indications,
.restaurants,
.restaurant-presentation,
.restaurant-name {
  background: #F6F6F6;
}

@keyframes loader {
  to {
    visibility: hidden;
    display: none;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animationFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(1%);
  }
}
.button, .btn-home {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.25%;
  height: 50px;
  width: 173px;
}
.button:hover, .btn-home:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  opacity: 0.68;
}

.btn-home {
  width: 233px;
}

.step-group {
  align-items: center;
  padding-bottom: 8vw;
  gap: 6vw;
}
@media only screen and (min-width: 768px) {
  .step-group {
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    padding-bottom: 5vw;
  }
}
.step-group .step {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 83%;
  min-width: 213px;
  max-width: 335px;
  height: 72.38px;
}
@media only screen and (min-width: 768px) {
  .step-group .step {
    justify-content: center;
    width: 30%;
  }
}
.step-group .number {
  background: #9356DC;
  color: #FFFFFF;
  position: absolute;
  top: 23px;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.step-group .indications {
  display: flex;
  align-items: center;
  gap: 3vw;
  position: relative;
  left: 7vw;
}
@media only screen and (min-width: 768px) {
  .step-group .indications {
    padding-left: 0vw;
    gap: 1.5vw;
    left: 0vw;
  }
}
.step-group i.icon {
  color: #7E7E7E;
}
.step-group i.fa-store {
  color: #9356DC;
}

.resto-cards {
  box-sizing: border-box;
  align-items: center;
  gap: 7vw;
}
@media only screen and (min-width: 768px) {
  .resto-cards {
    flex-flow: wrap;
    padding-left: 5vw;
    padding-right: 3vw;
    padding-bottom: 5vw;
    gap: 4vw;
  }
}
.resto-cards a {
  width: 87%;
}
@media only screen and (min-width: 768px) {
  .resto-cards a {
    width: 45%;
  }
}

.card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 15px;
  width: 100%;
}
.card .card-view {
  position: relative;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 231px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  width: 92%;
}
@media only screen and (min-width: 768px) {
  .card-content {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 86%;
  }
}

.card-txt .card-title {
  color: #000;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0;
}
.card-txt .card-subtitle {
  color: #000;
  font-size: 1.0625em;
  font-weight: 300;
  margin-top: 1vw;
}
@media only screen and (min-width: 768px) {
  .card-txt .card-subtitle {
    margin-top: 0;
  }
}

.card-view span {
  color: #008766;
  font-size: 0.875em;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #99E2D0;
  border-radius: 2px;
  position: absolute;
  top: 12px;
  right: 15px;
  width: 80px;
  height: 29px;
}

.card-menu article {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  animation: animationFade 0.3s alternate;
  width: 85%;
  height: 69px;
  padding-left: 2vw;
}
.card-menu article .price-menu {
  color: #353535;
  font-size: 0.9375em;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 2vw;
}
.card-menu article .price-menu::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  color: rgba(255, 255, 255, 0);
  font-weight: 600;
  font-size: 20px;
  background: #99E2D0;
  overflow: hidden;
  height: 100%;
  width: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-menu article .price-menu:hover::after {
  width: 60px;
  color: white;
}

.content-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 61%;
}
@media only screen and (min-width: 1024px) {
  .content-menu {
    width: 81%;
  }
}
.content-menu h3 {
  color: #000;
  font-size: 1.125em;
  font-weight: 500;
}
.content-menu p {
  color: #000;
  font-size: 0.9375em;
  font-weight: 300;
}

.like {
  stroke: none;
  stroke-width: 1px;
  position: relative;
  cursor: pointer;
}
.like path {
  fill-opacity: 1;
  transition: fill-opacity 400ms ease;
}
.like:hover {
  stroke: #000;
}
.like:hover path {
  fill-opacity: 0;
}
.like--inactive {
  stroke: #000;
  stroke-width: 1px;
  position: relative;
  cursor: pointer;
}
.like--inactive path {
  fill-opacity: 0;
  transition: fill-opacity 400ms ease;
}
.like--inactive :hover {
  stroke-width: 0px;
  fill-opacity: 1;
}

header, .header-home {
  background-color: #FFFFFF;
  margin: 0px;
  padding-top: 1vw;
  aspect-ratio: 1/0.02;
}
@media only screen and (min-width: 768px) {
  header, .header-home {
    padding-top: 3vw;
    aspect-ratio: 0;
  }
}
header .logo, .header-home .logo {
  width: 162px;
  height: 44px;
  object-fit: contain;
}
@media only screen and (min-width: 768px) {
  header .logo, .header-home .logo {
    width: 200px;
    height: 34.2px;
    padding-bottom: 3vw;
  }
}
header .header-menus, .header-home .header-menus {
  position: relative;
}
header .fa-arrow-left, .header-home .fa-arrow-left {
  position: absolute;
  top: 1.1vh;
  left: 3vw;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  header .fa-arrow-left, .header-home .fa-arrow-left {
    left: 2vw;
    top: 0.7vh;
  }
}

.footer-home, footer {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
  justify-content: space-around;
  background: #353535;
  padding: 22px 25px 22px 25px;
  gap: 3vw;
}
@media only screen and (min-width: 768px) {
  .footer-home, footer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 25px 30px 0px;
  }
}
.footer-home .logo img, footer .logo img {
  object-fit: contain;
  max-width: 105px;
  height: 18px;
  padding-top: 3vw;
  filter: invert(100%);
}
@media only screen and (min-width: 768px) {
  .footer-home .logo img, footer .logo img {
    position: relative;
    top: 0.4vw;
  }
}
.footer-home .link, footer .link {
  gap: 2vw;
}
@media only screen and (min-width: 768px) {
  .footer-home .link, footer .link {
    flex-direction: row;
    justify-content: flex-end;
    width: 94%;
  }
}
.footer-home .illustration, footer .illustration {
  display: flex;
  gap: 3px;
}
.footer-home .illustration i, footer .illustration i {
  height: 20px;
  width: 22px;
  object-fit: contain;
}

.loader {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation: loader 1s forwards;
}
.loader_container {
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  margin: 0px;
}
.loader_container_logo {
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url("../../assets/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
}
.loader_container_logo::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border: 16px solid #000;
  border-radius: 50%;
  border-top: 16px solid transparent;
  animation: spinner 3s linear infinite;
}

.location {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #EAEAEA;
  height: 50px;
  width: 100%;
}
.location i {
  color: #353535;
}
.location .search {
  color: #353535;
  font-size: 1em;
  font-weight: 500;
  background: inherit;
  text-align: center;
  border: none;
}
@media only screen and (min-width: 768px) {
  .location .search {
    padding-left: 1vw;
  }
}
.location input::placeholder {
  color: #353535;
  opacity: 1;
}

.hero {
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 0vw;
  padding-bottom: 7vw;
  gap: 2vw;
}
@media only screen and (min-width: 768px) {
  .hero {
    gap: 1vw;
    padding-bottom: 4vw;
  }
}
.hero h1 {
  width: 89%;
  padding-top: 4vw;
}
@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 40px;
    font-weight: 700;
  }
}
.hero p {
  color: #353535;
  font-size: 1.125em;
  font-weight: 300;
  padding-bottom: 3vw;
  width: 96%;
}

.fonctionnement h2,
.restaurants h2 {
  padding-top: 3vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
}

.fonctionnement {
  background: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .fonctionnement {
    padding-top: 0vw;
  }
}

.restaurants {
  box-sizing: border-box;
  padding-bottom: 10vw;
}
@media only screen and (min-width: 768px) {
  .restaurants {
    padding: 0vw;
  }
}