.step-group .number span, .location, .loader__container__logo, .loader__container, .header-home, .price-menu::after, .card-view span, .button, .btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-group, .fonctionnement,
.restaurants, .hero, .footer-home .link, footer .link, .footer-home, footer, header, .header-home, .resto-cards {
  display: flex;
  flex-direction: column;
}

.content-menu .txt-menu, .content-menu .title-menu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.section-title {
  margin: 0px;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  padding: 3vw;
}

.text {
  color: none;
  font-size: 1em;
  font-weight: 500;
}

.hero,
.indications,
.restaurants,
.restaurant-presentation,
.restaurant-name {
  background: #F6F6F6;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    visibility: hidden;
    display: none;
  }
}
@keyframes animationFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(1%);
  }
}
.button, .btn-home {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFFFF;
  font-size: 500;
  font-weight: 400;
  padding: 0.25%;
  height: 50px;
  width: 173px;
}
.button:hover, .btn-home:hover {
  opacity: 0.68;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.btn-home {
  width: 233px;
}

.resto-cards {
  gap: 6vw;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .resto-cards {
    flex-flow: wrap;
  }
}
.resto-cards a {
  width: 90%;
}
@media only screen and (min-width: 1024px) {
  .resto-cards a {
    width: 45%;
  }
}

.card {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 15px;
}
.card .card-view {
  position: relative;
}
.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 231px;
  object-fit: cover;
}

.card-view span {
  border-radius: 2px;
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #99E2D0;
  color: #008766;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 15px;
  bottom: none;
  left: none;
  transform: translate(none, none);
}

.card-content {
  display: flex;
  justify-content: space-around;
  gap: 15vw;
  align-items: baseline;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.card-txt .card-title {
  color: #000;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0;
}
.card-txt .card-subtitle {
  color: #000;
  font-size: 1.0625em;
  font-weight: 300;
  margin-top: 1vw;
}

.card-menu article {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  animation: animationFade 0.3s backwards;
  width: 85%;
  height: 69px;
  padding-left: 4vw;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  border-radius: 15px;
}
.card-menu article span.price-menu {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 0.9375em;
  color: #353535;
  gap: 2vw;
}

.content-menu {
  width: 61%;
}
.content-menu .title-menu {
  padding: 3vw 0 3vw 0;
  font-weight: 500;
  font-size: 1.125em;
  color: #000;
  margin: 0px;
}
.content-menu .txt-menu {
  font-weight: 300;
  font-size: 0.9375em;
  color: #000;
  margin: 0px;
}

.price-menu::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
  height: 100%;
  width: 0px;
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.price-menu:hover::after {
  width: 59px;
  color: white;
}

.like {
  stroke: none;
  stroke-width: 1px;
  position: relative;
  top: 2vw;
  cursor: pointer;
}
.like path {
  fill-opacity: 1;
  transition: fill-opacity 400ms ease;
}
.like:hover {
  stroke: #000;
}
.like:hover path {
  fill-opacity: 0;
}
.like--inactive {
  stroke: #000;
  stroke-width: 1px;
  position: relative;
  top: 1vw;
  cursor: pointer;
}
.like--inactive path {
  fill-opacity: 0;
  transition: fill-opacity 400ms ease;
}
.like--inactive :hover {
  stroke-width: 0px;
  fill-opacity: 1;
}

header, .header-home {
  margin: 0px;
  background-color: #FFFFFF;
}
header .logo-header, .header-home .logo-header {
  display: flex;
  align-items: center;
}
header .fa-arrow-left, .header-home .fa-arrow-left {
  padding: 0 20vw 0 4vw;
}
header .logo, .header-home .logo {
  width: 162px;
  padding-top: 3vw;
  padding-bottom: 1.8vw;
  object-fit: contain;
}

.footer-home, footer {
  background: #353535;
  color: #FFFFFF;
  justify-content: space-around;
  gap: 4vw;
  padding: 22px 25px 22px 25px;
}
@media only screen and (min-width: 1024px) {
  .footer-home, footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    box-sizing: border-box;
  }
}
.footer-home .logo img, footer .logo img {
  width: 137.58px;
  object-fit: contain;
  padding-top: 3vw;
  filter: invert(100%);
}
@media only screen and (min-width: 1024px) {
  .footer-home .logo img, footer .logo img {
    padding-top: 0vw;
  }
}
.footer-home .link, footer .link {
  gap: 2vw;
}
@media only screen and (min-width: 1024px) {
  .footer-home .link, footer .link {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer-home .illustration, footer .illustration {
  display: flex;
  gap: 3px;
}
.footer-home .illustration i, footer .illustration i {
  height: 20px;
  width: 22px;
  object-fit: contain;
}

footer {
  width: 100%;
}

.loader {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation: loader 1s forwards;
}
.loader__container {
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  margin: 0px;
}
.loader__container__logo {
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url("../../assets/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
}
.loader__container__logo::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border: 16px solid #000;
  border-radius: 50%;
  border-top: 16px solid transparent;
  animation: spinner 3s linear infinite;
}

.location {
  height: 50px;
  background: #EAEAEA;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.location i {
  color: #353535;
}
.location .search {
  background: inherit;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  border: none;
  padding-left: 3vw;
}
.location input::placeholder {
  color: #353535;
  opacity: 1;
}

.hero {
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vw;
  padding-bottom: 10vw;
  align-items: center;
  box-sizing: border-box;
}
.hero h1 {
  margin-bottom: 2vw;
}
.hero p {
  margin-top: 0px;
  padding-bottom: 5vw;
}

.fonctionnement,
.restaurants {
  padding-top: 2vw;
  padding-bottom: 7vw;
}

.fonctionnement {
  background: #FFFFFF;
}
.fonctionnement h2 {
  color: 1.5em;
  font-size: 700;
  font-weight: 400;
}

.step-group {
  align-items: center;
  gap: 6vw;
}
@media only screen and (min-width: 1024px) {
  .step-group {
    flex-direction: row;
  }
}
.step-group .step {
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  width: 87%;
  height: 72.38px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .step-group .step {
    justify-content: center;
  }
}
.step-group .number span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  background: #9356DC;
  position: absolute;
  top: 23px;
  right: none;
  bottom: none;
  left: -12px;
  transform: translate(none, none);
}
.step-group .indications {
  display: flex;
  align-items: center;
  gap: 4vw;
  padding-left: 10vw;
}
@media only screen and (min-width: 1024px) {
  .step-group .indications {
    padding-left: 0vw;
  }
}
.step-group i.icon {
  color: #7E7E7E;
}
.step-group i.fa-store {
  color: #9356DC;
}

.restaurants {
  padding-top: 3vw;
  padding-left: 3vw;
  box-sizing: border-box;
  gap: 2vw;
}