//Homepage

//Location (Header)
.location {
    @extend %flex-center;
    @include shadow(0px, 4px, 4px, 0.25);
    background: $grey;

    height: 50px;
    width: 100%;

    i {
        color: $lightBlack;
    }

    .search {
        @include typography($lightBlack, $size-normal, $fontMedium);
        background: inherit;
        text-align: center;
        border: none;

        input::placeholder {
            color: $lightBlack;
            opacity: 1;
        }
    }
}

//Hero
.hero {
    @extend %flex-column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    // padding-top: 20px;
    // padding-bottom: 45px;
    gap: 15px;

    h1 {
        width: 89%;

        @include breakpoints(table) {
            font-size: 2.5em; //40px
            font-weight: $fontBold;
        }
    }

    p {
        @include typography($lightBlack, $size-x-mediumSize, $fontLight);
        width: 96%;
    }
}

.hero,
.fonctionnement,
.restaurants {
    padding-top: 30px;
    padding-bottom: 55px;
}

//Fonctionnement
.fonctionnement,
.restaurants {
    @extend %flex-column;
  
}

.fonctionnement h2,
.restaurants h2 {
    padding-bottom: 22px;
    // padding: 0px 0px 19px 18px;
    margin-left: 47px;
  
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    @include breakpoints(desktop){
        margin-left: 11%;
    }
 }

.fonctionnement {
    background: $white;
}

// Restaurants (Homepage)
.restaurants {
    @extend %flex-column;
    box-sizing: border-box;

    @include breakpoints(desktop){
        margin: auto;
        // bottom: -308px;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     z-index: -1;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     // bottom: -308px;
        // }
    }
}

.heart {
    top: 18px;
}