//Homepage

//Location (Header)
.location {
    @extend %flex-center;
    @include shadow(0px, 4px, 4px, 0.25);
    background: $grey;

    height: 50px;
    width: 100%;

    i {
        color: $lightBlack;
    }

    .search {
        @include typography($lightBlack, $size-normal, $fontMedium);
        background: inherit;
        text-align: center;
        border: none;

        input::placeholder {
            color: $lightBlack;
            opacity: 1;
        }
    }
}

//Hero
.hero {
    @extend %flex-column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    // padding-top: 20px;
    // padding-bottom: 45px;
    gap: 15px;

    h1 {
        width: 89%;

        @include breakpoints(table) {
            font-size: 2.5em; //40px
            font-weight: $fontBold;
        }
    }

    p {
        @include typography($lightBlack, $size-x-mediumSize, $fontLight);
        width: 96%;
    }
}

.hero,
.fonctionnement,
.restaurants {
    padding-top: 30px;
    padding-bottom: 55px;
}

//Fonctionnement
.fonctionnement,
.restaurants {
    @extend %flex-column;
}

.fonctionnement h2,
.restaurants h2 {
    // padding-top: 3vw;
    // padding-bottom: 2vw;
    padding-left: 5vw;
    padding-bottom: 23px;
    // padding: 0px 0px 19px 18px;
}

.fonctionnement {
    background: $white;
    // @include breakpoints(table) {
    //     padding-top: 0vw;
    // }
}

// Restaurants (Homepage)
.restaurants {
    @extend %flex-column;
    box-sizing: border-box;
    // padding-bottom: 10vw;

    // @include breakpoints(table) {
    //     padding: 0vw;
    // }
}

.heart {
    top: 18px;
}