// Restaurants menu (restaurants page)
// Header (Restaurants menu) 
header {
    .banner {
        position: relative;

        img {
            height: 275px;
            width: 100%;
            object-fit: cover;
        }
    }
}

// Main (Restaurants menu)
main {
    @include breakpoints(desktop) {
        display: flex;
        justify-content: center;
    }
}

.restaurant-presentation {
    padding-bottom: 5vw;

    @include breakpoints(desktop) {
        max-width: 1024px;
        width: 100%;
    }
}

.restaurant-name {
    @extend %flex-center;
    position: relative;
    top: -6vw;

    padding-top: 4vw;
    gap: 3.5vw;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @include breakpoints(desktop) {
        max-width: 1024px;
    }

    h1 {
        @include typography($darkTitleRestaurant, $size-x-large, $fontRegular);
        font-family: $fontTitle;
        font-style: italic;
    }

    .restaurant-menu {
        @extend %flex-column;
        padding-bottom: 4vw;
        
        @include cardsMenuAnimation;

        .type-menu {
            @include typography($black, $size-normal, $fontLight);
            text-transform: uppercase;
            position: relative;
            
            width: 23px;
            height: 27px;
            margin-left: 8vw;
            margin-bottom: 3vw;
    
            animation: animationFade 0.3s backwards;
    
            &::before {
                content: "";
                position: absolute;
                background: #99E2D0;
                bottom: 0px;
                width: 40px;
                height: 3px;
            }
        }
    
        .card-menu {
            @extend %flex-column, %flex-center;
            gap: 3vw;
        }
    }
}

.restaurant-menu {
    @extend %flex-column;
    padding-bottom: 4vw;

    @include cardsMenuAnimation;

    .type-menu {
        @include typography($black, $size-normal, $fontLight);
        text-transform: uppercase;
        position: relative;
        
        width: 23px;
        height: 27px;
        margin-left: 3vw;
        margin-bottom: 3vw;

        animation: animationFade 0.3s backwards;

        &::before {
            content: "";
            background: #99E2D0;
            position: absolute;
            bottom: 0;
            left: 0;

            width: 40px;
            height: 3px;
        }
    }

    .card-menu {
        @extend %flex-column, %flex-center;
        gap: 3vw;
    }
}

//Button 'Commander'
.btn-cmd {
    @extend %flex-center;
}