// Header
header {
    .banner {
        position: relative;

        img {
            height: 275px;
            object-fit: cover;
            width: 100%;

        }
    }
}

// Main
main {
    @include breakpoints(desktop) {
        display: flex;
        justify-content: center;
    }
}

.restaurant-presentation {
    padding-bottom: 5vw;

    @include breakpoints(desktop) {
        max-width: 1000px;
        width: 100%;
    }
}

.restaurant-name {

    position: relative;
    top: -6vw;

    padding-top: 4vw;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    @extend %flex-center;
    gap: 3vw;

    @include breakpoints(desktop) {
        max-width: 1024px;
    }

    h1 {
        @include typography($font-size: $size-x-large);
        font-family: $fontTitle;
        // font-weight: $fontRegular;
        // font-size: $size-x-large;
        font-style: italic;
    }
}

.restaurant-menu {
    @extend %flex-column;
    padding-bottom: 4vw;

    @include cardsMenuAnimation;

    .type-menu {
        @include typography($font-weight: $fontLight);
        // font-weight: $fontLight;
        // font-size: $size-normal;
        // color: $black;
        text-transform: uppercase;
        width: 23px;

        margin-left: 3vw;
        margin-bottom: 3vw;

        position: relative;
        height: 27px;

        animation: animationFade 0.3s backwards;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 3px;
            background: #99E2D0;
        }

    }

    .card-menu {
        @extend %flex-column, %flex-center;
        gap: 3vw;

    }
}

.btn-cmd {
    @extend %flex-center;
}