
.header {
    .banner img{
        height: 275px;
        object-fit: cover;
        width: 100%;
        position: relative;
    }
}
//restaurants
.restaurant-presentation {
    margin: 0px;
    padding: 0px;
    position: absolute;
    // left: -12px;
    top: 27vh;
    z-index: 1;
    
    width100%: 27px;
}
.restaurants {
    padding-top: 3vw;
    padding-left: 3vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2vw;

    // padding-left: 5vw;
    // padding-right: 5vw;
    // display: flex;
    // flex-direction: column;
    // border: 3px solid #e61111;
}
// .retaurants h2{
//     padding-left: 5vw;
//     font-size: 24px;
//     font-weight: 700;
//     color: #000000;
//     border: 3px solid #2611e6;
// }
.restaurant-name {
    font-family: $fontTitle;
    font-weight: $fontRegular;
    font-size: $size-x-large;
    font-style: italic;
}

.restaurant-menu {
    .type-menu {
        font-weight: $fontLight;
        font-size: $size-normal;
        color: $black;
        text-transform: uppercase;
        border-bottom: 2px solid $tertiary-green;
        width: 13%;
    }
}
.content-menu{
    .title-menu {
        font-weight: $fontMedium;
        font-size: $size-x-mediumSize;
        color: $black;
    }
    .txt-menu {
        font-weight: $fontLight;
        font-size: $size-small;
        color: $black;
    }
    .price-menu {
        font-family: $fontBold;
        font-size: $size-small;
        color: $lightBlack;
    }
}

.resto-cards{
    @extend %flex-column;
    box-sizing: border-box;
    gap: 4vw;
    // width: 95%;
    // border: 3px solid #044717;
}
