
// @mixin typography($fontF, $fontS, $fontW, $lineH, $colorT){
//     font-family: map-get(fonts.$fontFamily, $fontF);
//     font-size: map-get(fonts.$fontSize, $fontS);
//     font-weight: map-get(fonts.$fontWeight, $fontW);
    
//     line-height: map-get(fonts.$lineHeight, $lineH);
    
//     @if (fonts.$fontFamily == "Shrikhand"){
//         font-style: italic;
//     }

//     color: map-get(colors.$color, $colorT);
// }

// @mixin borderRadius($topLeft, $topRight, $bottomRight, $bottomLeft){
//     border-radius:($topLeft, $topRight, $bottomRight, $bottomLeft);
// }

// @mixin title-shadow($color){
//     text-shadow: .55rem .55rem $color;
// }

// filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));button
// filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));card
// filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));badge
// filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));instructions

// animation cards menu
@mixin cardsMenuAnimation{
    &:nth-child(2){
        h2{
            // animation-delay: 1.5s ease forwards;
            animation-delay: 1.3s;
        } 

        .card-menu{
            & > :nth-child(1){
                // animation-delay: 5.5s ease forwards;
                animation-delay: 1.4s;
                // animation-delay: 1.8s;
            }

            & > :nth-child(2){
                // animation-delay: 2s;
                animation-delay: 1.5s;
            }

            & > :nth-child(3){
                // animation-delay: 2.2s;
                animation-delay: 1.6s;
            }

            & > :nth-child(4){
                // animation-delay: 2.3s;
                animation-delay: 1.7s;
            }
        }
    } 

    &:nth-child(3){
        h2{
            animation-delay: 1.8s;
        }

        .card-menu{
            & > :nth-child(1){
                animation-delay: 1.9s;
            }

            & > :nth-child(2){
                animation-delay: 2s;
            }

            & > :nth-child(3){
                animation-delay: 2.1s;
            }

            & > :nth-child(4){
                animation-delay: 2.2s;
            }
        }
    }

    &:nth-child(4){
        h2{
            animation-delay: 2.3s;
        }

        .card-menu{
            & > :nth-child(1){
                animation-delay: 2.4s;
            }

            & > :nth-child(2){
                animation-delay: 2.5s;
            }

            & > :nth-child(3){
                animation-delay: 2.6s;
            }

            & > :nth-child(4){
                animation-delay: 2.7s;
            }
        }
    }
}

