//Font, color
@mixin typography ($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

//Shadow
// box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
@mixin shadow ($horizontal: 0px, $vertical: 4px, $blur: 10px, $percent: 0.25) {
    box-shadow: $horizontal $vertical $blur rgba(0, 0, 0, $percent);
}

// filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));button
// filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));card
// filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));badge
// filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));instructions

//Position
// @mixin absolute-element ($top, $right, $bottom, $left) {
//     position: absolute;
//     top: $top;
//     right: $right;
//     bottom: $bottom;
//     left: $left;
// }

// Animation cards menu
@mixin cardsMenuAnimation {

    //Entrées
    &:nth-child(2) {
        h2 {
            animation-delay: 1.3s;
        }

        .card-menu {
            &> :nth-child(1) {
                animation-delay: 1.4s;
            }

            &> :nth-child(2) {
                animation-delay: 1.5s;
            }

            &> :nth-child(3) {
                animation-delay: 1.6s;
            }

            &> :nth-child(4) {
                animation-delay: 1.7s;
            }
        }
    }

    //Plats
    &:nth-child(3) {
        h2 {
            animation-delay: 1.8s;
        }

        .card-menu {
            &> :nth-child(1) {
                animation-delay: 1.9s;
            }

            &> :nth-child(2) {
                animation-delay: 2s;
            }

            &> :nth-child(3) {
                animation-delay: 2.1s;
            }

            &> :nth-child(4) {
                animation-delay: 2.2s;
            }
        }
    }

    //Desserts
    &:nth-child(4) {
        h2 {
            animation-delay: 2.3s;
        }

        .card-menu {
            &> :nth-child(1) {
                animation-delay: 2.4s;
            }

            &> :nth-child(2) {
                animation-delay: 2.5s;
            }

            &> :nth-child(3) {
                animation-delay: 2.6s;
            }

            &> :nth-child(4) {
                animation-delay: 2.7s;
            }
        }
    }
}

//Breakpoints responsive
@mixin breakpoints($device) {
    @media only screen and (min-width: map-get($breakpoints, $device)) {
        @content;
    }
}