// Directions

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

// %flew-row {
//     display: flex;
//     flex-direction: row;
// }

//Text cards restaurants

%txt-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

